PORT=your_port_number_here # Ví dụ: 8080 hoặc 3000 tùy vào cổng mà bạn muốn ứng dụng của mình chạy trên đó.
DB_URL=your_database_url_here # bắt buộc : jdbc:sqlserver://cmcsv.ric.vn:22956;databaseName=CMC26_S4_NHOM5;encrypt=true;trustServerCertificate=true
DB_USERNAME=your_database_username_here # bắt buộc : cmcsv
DB_PASSWORD=your_database_password_here # bắt buộc : Cm!@#1234Cu
JWT_SECRET=your_base64_encoded_secret_here#gõ các kí tự ngẫu nhiên và mã hóa base64 để tạo ra chuỗi này, ví dụ: Y39H7oYGF0dNeCjSigxAuSIrePxfz9JtRuYmIIIQp1vYQ==
JWT_EXPIRATION=your_access_token_expiration_in_minutes_here # Ví dụ: 3600000 (1 giờ) hoặc 7200000 (2 giờ) tùy vào nhu cầu của bạn.


